h1{color:blue;text-align:center; background-color: cyan;}
h2{color:pink;text-align:left; background-color: purple;}
h3{color:orange;text-align:right; background-color: greenyellow;}
p1{color:brown; background-color: hotpink;}
p2{color:blueviolet; background-color: aqua;}